<!--app header-->
<div class="top-bar h-ltr">
    Wallet Tracker
    <a routerLink="/login" class="top-bar__right">{{loginName}}</a>
</div>
<!--TODO: think of better implementation for this-->
<div style="display: flex; flex-direction: column-reverse">
    <div>
        <wallet-action></wallet-action>
    </div>
    <div class="h-scroll-content"
         scrollToBottom>
        <wallet-table (itemsLoaded)="onItemsLoaded()"></wallet-table>
    </div>
</div>
<!-- Buttons-->
<actions-buttons></actions-buttons>
